<!--
    https://docs.djangoproject.com/ko/3.1/intro/tutorial03/
-->

{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li>
                <!-- polls/urls.py 에서 detail이라는 이름을 가진 url을 찾아 question.id값을 바탕으로 url 생성-->
                <!-- 만약 url을 바꾸고 싶다면 프론트가 아니라 urls.py에서 변경-->
                <a href="{% url 'polls:detail' question.id %}"> <!-- https://docs.djangoproject.com/ko/3.1/intro/tutorial03/#id9 최하단부-->
                {{question.question_text}}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}